parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    stubFiles:
        # Simulate added properties
        - phpstan/class-wp-post-type.stub
        - phpstan/class-wp-taxonomy.stub
        - phpstan/class-wp-dependency.stub
        - phpstan/class-wp-error.stub
        - phpstan/appsero.stub
    scanFiles:
        # WP-CLI functions are loaded by its runner, not its Composer autoloader.
        - vendor/wp-cli/wp-cli/php/utils.php
    bootstrapFiles:
        - phpstan/constants.php
        - vendor/wp-graphql/wp-graphql/wp-graphql.php
        - wp-graphql-smart-cache.php
        # - access-functions.php
        # - activation.php
        # - deactivation.php
    paths:
        - wp-graphql-smart-cache.php
        # - access-functions.php
        # - activation.php
        # - deactivation.php
        - src/
    excludePaths:
      analyseAndScan:
        - */node_modules/*
        - */vendor/*
    ignoreErrors:
